.container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
  height: 70px;
  &__send {
    display: flex;
    align-items: center;
    gap: 10px;
    label {
      cursor: pointer;
    }
    button {
      border: none;
      background-color: #0088cc;
      color: white;
      padding: 10px;
      border-radius: 8px;
    }
  }
}
